footer {
    background: var(--DARK);
    color: var(--LIGHT);
    width: 100%;

    .flex {
        justify-content: space-between;
    }

    .navigation .nav-list {
        flex-direction: column;
    }

    .nav-sublist {
        display: none;
    }

    .footer-subsection {
        width: max-content;

        .section-title {
            color: var(--LIGHT);
        }
        a {
            display: block;
            width: 100%;
            line-height: 2;
        }
    }
}
