nav.navigation {
    width: max-content;
    display: inline-block;

    .nav-list {
        list-style: none;
        display: flex;

        .nav-item {
            position: relative;
            width: max-content;
            font-weight: bold;
            text-transform: uppercase;

            .nav-link {
                display: inline-block;
                width: max-content;
                text-decoration: none;
                padding: 1rem;
                letter-spacing: 0.1em;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 2;
                margin: 0;
                font-family: "orbitron", sans-serif;
            }
        }
    }
}

.nav-item:has(.nav-sublist)::after {
    content: " ▼";
    font-size: 0.6em;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 0.25;
    position: relative;
    top: -10px;
}

.nav-sublist {
    position: absolute;
    top: 100%;
    height: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-direction: column;
    background: var(--LIGHT);
    max-height: max-content;
    transition: all 0.3s;
    box-shadow: 0 2px 5px var(--DARK);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: var(--DARK);
        transition: all 0.3s;
    }

    .nav-item {
        width: 100%;
    }
}

.nav-item:hover .nav-sublist {
    z-index: 1;
    height: 200px !important;
    max-height: max-content;

    &::before {
        width: 100%;
    }
}
